<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SitioDjango</title>
</head>
<body>
    <header>
        <h1>Publicaciones</h1>
        <nav>
            <ul>
                <li><a href="{% url 'publicaciones:inicio' %}">Inicio</a></li>
                <li><a href="{% url 'publicaciones:lista_publicaciones' %}">Publicaciones</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi recusandae dolor distinctio! Temporibus unde obcaecati excepturi in beatae, ratione repudiandae, similique fugit, alias nemo minima. Ratione excepturi architecto soluta.</p>
    </footer>
</body>
</html>